<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link media="all" rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div >
    <div class="nav-bar">
        <div class="nav_bar_container">
            <div class="logo">
                <img class="logo_img" src="../../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt="logo">
            </div>
            <a href="/index">Motel</a>
            <a href="/index">О нас</a>
            <a href="/index">Контакты</a>
            <a href="/index">Статьи</a>
            <a href="/index">Отзывы</a>
            <a href="/login">Личный кабинет</a>
            <a class="button_login_blue" href="/registration">Регистрация</a>
            <a class="button_login_black" href="/login">Логин</a>
        </div>
    </div>
</div>
<div class="reg_block">
    <div class="reg_block_form">
        <form th:method="POST" th:action="@{/registration}" th:object="${person}" class="reg_form">

            <label for="login" class="form-label">Enter login:</label>
            <input type="text" th:field="*{login}" id="login" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>

            <label for="name" class="form-label">Enter your name:</label>
            <input type="text" th:field="*{name}" id="name" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name of birth Error</div>


            <label for="surname" class="form-label">Enter your surname:</label>
            <input type="text" th:field="*{surname}" id="surname" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname of birth Error</div>


            <label for="dateOfBirth" class="form-label">Enter your date of birth:</label>
            <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date of birth Error</div>


            <label for="password" class="form-label">Enter password:</label>
            <input type="password" th:field="*{password}" id="password" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>


            <button type="submit" class="form_button">Зарегестрироваться</button>
        </form>
    </div>
</div>

</body>
</html>