<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link media="all" rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Reg page</title>
</head>
<body>
<form th:method="POST" th:action="@{/registration}" th:object="${person}" class="mt-5">
    <div class="mb-3">
        <label for="login" class="form-label">Enter login:</label>
        <input type="text" th:field="*{login}" id="login" class="form-control"/>
        <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Enter your name:</label>
        <input type="text" th:field="*{name}" id="name" class="form-control"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name of birth Error</div>
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Enter your surname:</label>
        <input type="text" th:field="*{surname}" id="surname" class="form-control"/>
        <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname of birth Error</div>
    </div>
    <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Enter your date of birth:</label>
        <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth" class="form-control"/>
        <div style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date of birth Error</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Enter password:</label>
        <input type="password" th:field="*{password}" id="password" class="form-control"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    </div>
    <div class="mb-3" >

    </div>
    <button type="submit" class="btn btn-primary">Sign up!</button>
</form>
</body>
</html>