<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link media="all" rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body>
<h1 th:text = "${articleDTO.getTitle()}"></h1>
<h1 th:text = "${articleDTO.getUserName()}"></h1>
<h1 th:text = "${articleDTO.getUserSurname()}"></h1>
<h1 th:text = "${articleDTO.getArticle()}"></h1>

</body>
</html>