<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <title>Motel</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img class = "logo_img" src="/static/img/logo/logo.png" alt="logo">
        </div>
        <a href="/" class="active">Motel</a>
        <a href="/" class="active">Главная</a>
        <a href="/about">О нас</a>
        <a href="/contacts">Контакты</a>
        <a href="/articles">Статьи</a>
        <a href="/profile">Личный кабинет</a>
        <a href="/registration">Регистрация</a>
        <a href="/login">Логин</a>
    </div>
    <h1>Отзывы</h1>
    <div th:each="feedback : ${feedBacksDTO}">
        <p th:text = "${feedback.getUserName() + feedback.getUserSurname()}"></p>
        <p th:text = "${feedback.getMark()}"></p>
        <p th:text = "${feedback.getMessage()}"></p>
        <p>_____________________________________________________</p>

    </div>
    <div th:if="${person.getName() == null}">
        <P>Авторизуйтесь, чтобы оставлять отзыв</P>
    </div>
    <div th:if="${person.getName() != null}">
        <h1>Добавить отзыв</h1>
        <div>
            <form th:method="POST" th:action="@{/index/createNewFeedBack}" th:object="${feedBackDTO}">
                <label for="mark">Введите оценку:</label>
                <input type="number" th:field="*{mark}" id="mark"/>
                <div style="color:red" th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}">Mark Error</div>
                <br/>
                <label for="message">Введите сообщение:</label>
                <input type="text" th:field="*{message}" id="message"/>
                <div style="color:red" th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Message Error</div>
                <br/>
                <input type="submit" value="Создать"/>
            </form>
        </div>
    </div>
    <div>
        <h1>Статьи о нашем отеле</h1>
        <div th:each="articleDTO : ${articlesDTO}">
            <a th:href="@{/index/article/{id}(id=${articleDTO.getArticleId()})}" th:text = "${articleDTO.getTitle()}">Article title</a>
        </div>
    </div>

</body>
</html>
