<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link media="all" rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <title>Motel</title>

</head>
<body>
<div  th:if="${person.getName() != null}">
    <div class="nav-bar">
        <div class="nav_bar_container">
            <div class="logo">
                <img class="logo_img" src="../../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt="logo">
            </div>
            <a href="#main">Motel</a>
            <a href="#about">О нас</a>
            <a href="#contacts">Контакты</a>
            <a href="#articles">Статьи</a>
            <a href="#feedback">Отзывы</a>
            <a th:href="${perAccount}">Личный кабинет</a>
            <a class="button_login_blue" th:text = "'Привет '+${person.getName()}" >Person Name</a>
            <a class="button_login_black" href="/logout">Выход</a>
        </div>
    </div>
</div>
<div  th:if="${person.getName() == null}">
    <div class="nav-bar">
        <div class="nav_bar_container">
            <div class="logo">
                <img class="logo_img" src="../../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt="logo">
            </div>
            <a href="#main">Motel</a>
            <a href="#about">О нас</a>
            <a href="#contacts">Контакты</a>
            <a href="#articles">Статьи</a>
            <a href="#feedback">Отзывы</a>
            <a th:href="${perAccount}">Личный кабинет</a>
            <a class="button_login_blue" href="/registration">Регистрация</a>
            <a class="button_login_black" href="/login">Логин</a>
        </div>
    </div>
</div>

<div id="main" class="banner_main" th:style="'background-image: linear-gradient(90deg, #2F2F2F 48.73%, rgba(47, 47, 47, 0.80) 62.26%, rgba(47, 47, 47, 0.20) 100%), url(' + ${mainBannerImageUrl} + ');'">
    <div class="container">
        <div class="main_information">
            <h1 class="main_title" >Почувствуй уровень кайфа</h1>
            <h2 class="main_des" >Вместе с Motel</h2>
        </div>
    </div>
</div>

<div id="about" class="banner_about" th:style="'background-image: linear-gradient(90deg, rgba(47, 47, 47, 0.20) 0%, rgba(47, 47, 47, 0.80) 37.74%, #2F2F2F 51.27%),url(' + ${aboutBannerImageUrl} + ');'">
    <div class="container_for_about_us">
        <div class="about_information">
            <h1 class="main_title">О нас</h1>
            <p class="main_des">Отель с 500 летней истории</p>
            <p class="main_des">1000000 посетителей</p>
            <p class="main_des">Лучшие условия на острове</p>
            <p class="main_des">Демократичные цены для всех!</p>
            <p class="main_des">Интересные мероприятия</p>
            <p class="main_des">Вежливый персонал</p>
            <p class="main_des">Бассейны на любой вкус + аквапарк</p>
            <h1 class="main_title">И так далее!</h1>
        </div>
    </div>
</div>
<div id="contacts" class="banner_contacts" th:style="'background-image: linear-gradient(90deg, #2F2F2F 48.73%, rgba(47, 47, 47, 0.80) 62.26%, rgba(47, 47, 47, 0.20) 100%), url(' + ${contactsBannerImageUrl} + ');'">
    <div class="container">
        <div class="contact_information">
            <h1 class="main_title">Контакты</h1>
            <p class="main_des">ИП: Зварыкин Никита Александрович</p>
            <p class="main_des">+45438958935789347895</p>
            <p class="main_des">Юрисдикция США, Мальдивы</p>
            <h1 class="main_title">Карта</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3989.5843077786303!2d73.09727630624853!3d-0.6205585746101838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1707332046362!5m2!1sen!2sca"
                    width="450" height="600" style="border:0; margin-top: 25px" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" ></iframe>
        </div>
    </div>
</div>

<div id="articles" class="article">
    <div class="container">
        <div class="main_information">
            <h1 class="main_title">Статьи о нашем отеле</h1>
            <div class="cards">
                <div class="article_cards" th:each="articleDTO : ${articlesDTO}">
                    <a class="article_card" th:href="@{/index/article/{id}(id=${articleDTO.getArticleId()})}"
                       th:text="${articleDTO.getTitle()}">Article title</a>

                </div>
            </div>


        </div>

    </div>

</div>
<div id= "feedback" class="feedbacks">
    <h1 class="feedback-title">Отзывы</h1>
    <div class="container_feedback">

        <div class="feedback_information">


            <div class="all_feedbacks" th:each="feedback : ${feedBacksDTO}">
                <div class="feedback_box">
                    <div class="feedback_box_name_and_pick">
                        <img class="feedback_box_pic" src="../../static/img/feedback/user.png" th:src="@{/img/feedback/user.png}" alt=""/>
                        <p class="feedback_box_name" th:text="${feedback.getUserName() + feedback.getUserSurname()}">Имя</p>
                    </div>
                    <div class="feedback_box_mark">
                        <p th:text="${feedback.getMark()}">Оценка: 5</p>
                    </div>
                    <div class="feedback_box_message">
                        <p th:text="${feedback.getMessage()}">Сообщение о отеле Сообщение о отеле Сообщение о отеле</p><br>
                    </div>
                    
                </div>

            </div>
            <div th:if="${person.getName() == null}">
                <P>Авторизуйтесь, чтобы оставлять отзыв</P>
            </div>
            <div class="feedback_form" th:if="${person.getName() != null}">
                <h1>Добавить отзыв</h1>
                <div>
                    <form class="createNewFeedBackForm" th:method="POST" th:action="@{/index/createNewFeedBack}" th:object="${feedBackDTO}">
                        <label for="mark">Введите оценку:</label>
                        <input type="number" class = "form-control" th:field="*{mark}" id="mark"/>
                        <div style="color:red" th:if="${#fields.hasErrors('mark')}"  th:errors="*{mark}">Mark Error</div>
                        <br/>
                        <label for="message">Введите сообщение:</label>
                        <input type="text" class = "form-control" th:field="*{message}" id="message"/>
                        <div style="color:red" th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Message
                            Error
                        </div>
                        <br/>
                        <input type="submit" value="Создать" class="form_button"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<footer>
    <p>Мотель на Мальдивах. Все права защищены. 2024</p>
</footer>

<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            const target = document.querySelector(this.getAttribute('href'));
            if (target) {
                window.scrollTo({
                    top: target.offsetTop,
                    behavior: 'smooth'
                });
            }
        });
    });
</script>

</body>
</html>
