.nothing {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Шрифт для всего текста на странице */
body {
    color: white;
    font-family: 'Inter', sans-serif;
    background-color: #2F2F2F;
}

/* Стили для бургер-меню */
.burger-menu {
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: none; /* начально скрываем бургер */
}

.burger-menu div {
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: transform 0.4s ease;
}

/* Анимация для бургер-меню */
.burger-menu.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu.active div:nth-child(2) {
    opacity: 0;
}

.burger-menu.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Скрытие мобильного меню при загрузке страницы */
.mobile-nav-links {
    display: none;
}

/* Отображение мобильного меню при активации бургер-меню */
.mobile-nav-links.active {
    display: block;
}


/* Стили для баннера с фоновым изображением и текстом */
.banner_main {
    height: 920px; /* Указываем высоту баннера */
    background-image: linear-gradient(90deg, #2F2F2F 48.73%, rgba(47, 47, 47, 0.80) 62.26%, rgba(47, 47, 47, 0.20) 100%), url(/static/img/main/main_pic.png); /* Градиент поверх изображения */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
}

.banner_about {
    height: 1000px; /* Высота баннера равна высоте окна браузера */
    background-image: linear-gradient(90deg, rgba(47, 47, 47, 0.20) 0%, rgba(47, 47, 47, 0.80) 37.74%, #2F2F2F 51.27%), url(/static/img/main/main_about.png); /* Фоновое изображение с градиентом поверх него */
    background-size: cover; /* Фоновое изображение растягивается на всю ширину и высоту баннера */
    display: flex; /* Делаем баннер флекс-контейнером */
    align-items: flex-start; /* Выравниваем текст по вертикали по центру */
    justify-content: right; /* Выравниваем текст по горизонтали по центру */
}

.banner_contacts {
    height: 1000px; /* Высота баннера равна высоте окна браузера */
    background-image: linear-gradient(90deg, #2F2F2F 48.73%, rgba(47, 47, 47, 0.80) 62.26%, rgba(47, 47, 47, 0.20) 100%), url(/static/img/main/main_contacts.png); /* Градиент поверх изображения */
    background-size: cover; /* Фоновое изображение растягивается на всю ширину и высоту баннера */
    display: flex; /* Делаем баннер флекс-контейнером */
    /* Выравниваем текст по вертикали по центру */
    justify-content: left; /* Выравниваем текст по горизонтали по центру */
}

/* Стили для текста на баннере */
.banner h1 {
    font-size: 48px; /* Размер шрифта для заголовка */
    color: white; /* Цвет шрифта для заголовка */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для текста, чтобы он был более читаемым на фоне */
}

/* Стили для навигационного меню */
.nav-bar {

    background-color: #2F2F2F; /* Цвет фона для навигационного меню */
}

.nav_bar_container {
    max-width: 1700px;
    margin: 0 auto;
    display: flex; /* Делаем навигационное меню флекс-контейнером */
    align-items: center; /* Выравниваем ссылки по вертикали по центру */
    justify-content: space-between; /* Распределяем ссылки по горизонтали с равными отступами */

}

/* Стили для ссылок в навигационном меню */
.nav-bar a {
    color: white; /* Цвет шрифта для ссылок */
    text-decoration: none; /* Убираем подчеркивание для ссылок */
    font-weight: bold; /* Делаем шрифт жирным */
    margin: 0 10px; /* Отступы между ссылками */
}

/* Стили для активной ссылки в навигационном меню */
.nav-bar a.active {

    color: white; /* Цвет шрифта для активной ссылки */

}

/* Стили для контейнера, который центрирует контент по ширине */
.container {
    display: flex;

    max-width: 1900px; /* Максимальная ширина контейнера */

    padding: 20px; /* Отступы для контейнера */
}

.container_for_about_us {
    display: flex;

    max-width: 1900px; /* Максимальная ширина контейнера */

    padding: 20px;
    margin-right: 300px;

}

/* Стили для заголовка с отзывами */


/* Стили для блока с отзывом */
.container div {
    display: flex; /* Делаем блок с отзывом флекс-контейнером */
    /* Выравниваем элементы по вертикали по центру */
    margin-bottom: 10px; /* Отступ снизу для блока с отзывом */
}

/* Стили для имени пользователя, оставившего отзыв */
.container div a:first-child {
    font-weight: bold; /* Делаем шрифт жирным */
    margin-right: 10px; /* Отступ справа для имени пользователя */
}

/* Стили для оценки, которую поставил пользователь */
.container div a:nth-child(2) {
    color: #ff9800; /* Цвет шрифта для оценки */
    margin-right: 10px; /* Отступ справа для оценки */
}

/* Стили для текста отзыва */
.container div a:last-child {
    color: #757575; /* Цвет шрифта для текста отзыва */
}

/* Стили для формы, которая позволяет оставить отзыв */
.container form {
    display: flex; /* Делаем форму флекс-контейнером */
    flex-direction: column; /* Меняем направление оси флекс-контейнера на вертикальное */
    margin-top: 20px; /* Отступ сверху для формы */
}

/* Стили для элементов формы */
.container form div {
    margin-bottom: 10px; /* Отступ снизу для элементов формы */
}

/* Стили для кнопки, которая отправляет форму */
.container form button {
    width: 200px; /* Ширина кнопки */
    align-self: center; /* Выравниваем кнопку по горизонтали по центру */
    background-color: #ff9800; /* Цвет фона для кнопки */
    color: white; /* Цвет шрифта для кнопки */
    border: none; /* Убираем рамку для кнопки */
    padding: 10px; /* Отступы для кнопки */
    cursor: pointer; /* Меняем курсор на указатель при наведении на кнопку */
}

.logo_img {

    max-width: 70%;
    padding: 5px;
}

.button_login_blue {
    border-radius: 10px;
    border: 1px solid #0094FF;
    padding: 20px;
    background-color: #0094FF;

}

.button_login_black {
    border-radius: 10px;
    border: 2px solid white;
    padding: 20px;
}

.main_title {
    color: white;
    font-size: 46px;

}

.main_des {
    margin-top: 15px;

}


.main_information {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.about_information {
    display: flex;
    flex-direction: column;
    margin-right: 150px;

}

.contact_information {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.article_card {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 50px 20px;
    border: 2px white;
    border-radius: 10px;
    background-color: white;
    color: black;

}

.article_cards_stuff {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.article_cards {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback_information {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

}

.all_feedbacks {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.feedback {
    margin-bottom: 20px; /* Добавляем пробел между отзывами */
}

.feedback p {
    margin: 0; /* Убираем внутренние отступы у абзацев внутри отзывов */
}

.feedback_form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.guest_forms {
    margin-left: 10px;


}

.container_feedback {


    max-width: 1900px; /* Максимальная ширина контейнера */

    padding: 20px; /* Отступы для контейнера */


}

.createNewFeedBackForm {
    display: flex;
    flex-direction: column;
}

.cards {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.article {

}

.feedbacks {

}

/* Медиа-запрос для ширины экрана до 1100px */
@media screen and (max-width: 1100px) {
    .banner_main {
        text-align: center;
        font-size: 20px;

        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/main/main_pic.png); /* Прозрачный черный фон поверх изображения */

        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner_about {

        font-size: 20px;
        height: 1000px; /* Высота баннера равна высоте окна браузера */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/main/main_about.png); /* Фоновое изображение с градиентом поверх него */
        background-size: cover; /* Фоновое изображение растягивается на всю ширину и высоту баннера */
        display: flex; /* Делаем баннер флекс-контейнером */
        align-items: center; /* Выравниваем текст по вертикали по центру */
        justify-content: center; /* Выравниваем текст по горизонтали по центру */
    }

    .banner_contacts {
        font-size: 20px;
        height: 1000px; /* Высота баннера равна высоте окна браузера */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/img/main/main_contacts.png); /* Градиент поверх изображения */
        background-size: cover; /* Фоновое изображение растягивается на всю ширину и высоту баннера */
        display: flex; /* Делаем баннер флекс-контейнером */
        /* Выравниваем текст по вертикали по центру */
        justify-content: center; /* Выравниваем текст по горизонтали по центру */
    }

    .about_information {

        margin-right: 0;

    }

    .container_for_about_us {

        margin-right: 0;

    }
}

.login_form {
    border-radius: 10px;
    padding: 40px;
    background-color: #3A3A3A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form_login {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login_block {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label {
    color: #F5F2F2;
    padding: 5px;
    text-align: left;

}

.feedback_box_mark {
    margin-top: 10px;
}

.feedback_box_message {
    margin-top: 10px;
}
.form-option {
    color: white;
    border-radius: 5px;

    padding: 10px;
    background-color: #3A3A3A;

    border: 2px solid #F5F2F2;
}
.form-control {
    color: white;
    border-radius: 5px;

    padding: 10px;
    background-color: #3A3A3A;

    border: 2px solid #F5F2F2;
}

.form_button {
    border-radius: 5px;
    background-color: #3A3A3A;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    color: white;
    border: 2px solid #F5F2F2;
}

.form_button_guest {
    margin-left: 10px;
    border-radius: 5px;
    background-color: #3A3A3A;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    color: white;
    border: 2px solid #F5F2F2;
}

.reg_block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}

.reg_block_form {
    border-radius: 10px;
    padding: 40px;
    background-color: #3A3A3A;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reg_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    margin-left: 10px;
    background-color: #3A3A3A;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
    color: slateblue;
}

.other_titles {
    margin-left: 10px;
}

.feedback_box {
    margin-left: 20px;
    margin-top: 20px;

    padding: 30px;
    background-color: #3A3A3A;
    margin-bottom: 10px;
    max-width: 550px;

}

.feedback_box_pic {
    max-width: 60px;
    max-height: 80px;
}

.feedback_box_name_and_pick {
    display: flex;
    align-items: center;
}

.feedback_box_name {
    margin-left: 10px;
}

.cards {
    max-width: 800px;
}

footer {
    background-color: #3A3A3A;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large_text_box {
    color: white;
    border-radius: 5px;

    background-color: #3A3A3A;

    border: 2px solid #F5F2F2;
    height: 400px;
    width: 300px;
}

.error-container {
    height: 1000px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.error-message {
    font-size: 24px;
    color: #ff0000;
    margin-bottom: 20px;
}

.redirect-link {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

.greeting-title {
    text-align: center;
    margin-top: 10px;
}

.panel-title {
    text-align: center;
}

.panel-opportunity-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    flex-direction: column;
}

.opportunity-box {

    font-size: 30px;
    color: black;
    padding: 20px;
    background-color: #F5F2F2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.opportunity-title {
    text-decoration: none;
}

.feedback-title {
    text-align: center;
    color: white;
    font-size: 46px;


}

.consultation_container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultation_block {
    text-align: center;
}

.consultation-title {
    margin-top: 40px;
}

.consultation-des {
    margin-top: 40px;
}

.consultation-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.feedback-non-auth-des {
    text-align: center;
}

.feedback_info {
}

.article-stuff-container {
    margin-top: 20px;
    margin-left: 20px;
}

.container-admin-service {
    margin-top: 20px;
    margin-left: 20px;
}

.container-admin-stuff {
    margin-top: 20px;
    margin-left: 20px;
}

.container-owner-service {
    margin-top: 20px;
    margin-left: 20px;
}