.nothing {
    display: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Шрифт для всего текста на странице */
  body {
    font-family: 'Inter', sans-serif;
  }
  
  /* Стили для баннера с фоновым изображением и текстом */
  .banner_main {
    height: 100vh; /* Высота баннера равна высоте окна браузера */
    background-image: url(/static/img/main/main_pic.png), linear-gradient(90deg, #2F2F2F 48.73%, rgba(47, 47, 47, 0.80) 62.26%, rgba(47, 47, 47, 0.20) 100%); /* Фоновое изображение с градиентом поверх него */
    background-size: cover; /* Фоновое изображение растягивается на всю ширину и высоту баннера */
    display: flex; /* Делаем баннер флекс-контейнером */
    align-items: center; /* Выравниваем текст по вертикали по центру */
    justify-content: left; /* Выравниваем текст по горизонтали по центру */
  }
  .banner_about {
    height: 100vh; /* Высота баннера равна высоте окна браузера */
    background-image: url(/static/img/main/main_about.png), linear-gradient(90deg, #2F2F2F 48.73%, rgba(47, 47, 47, 0.80) 62.26%, rgba(47, 47, 47, 0.20) 100%); /* Фоновое изображение с градиентом поверх него */
    background-size: cover; /* Фоновое изображение растягивается на всю ширину и высоту баннера */
    display: flex; /* Делаем баннер флекс-контейнером */
    align-items: center; /* Выравниваем текст по вертикали по центру */
    justify-content: left; /* Выравниваем текст по горизонтали по центру */
  }
  .banner_contacts {
    height: 100vh; /* Высота баннера равна высоте окна браузера */
    background-image: url(/static/img/main/main_contacts.png), linear-gradient(90deg, #2F2F2F 48.73%, rgba(47, 47, 47, 0.80) 62.26%, rgba(47, 47, 47, 0.20) 100%); /* Фоновое изображение с градиентом поверх него */
    background-size: cover; /* Фоновое изображение растягивается на всю ширину и высоту баннера */
    display: flex; /* Делаем баннер флекс-контейнером */
    align-items: center; /* Выравниваем текст по вертикали по центру */
    justify-content: left; /* Выравниваем текст по горизонтали по центру */
  }
  
  /* Стили для текста на баннере */
  .banner h1 {
    font-size:48px; /* Размер шрифта для заголовка */
    color: white; /* Цвет шрифта для заголовка */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для текста, чтобы он был более читаемым на фоне */
  }
  
  /* Стили для навигационного меню */
  .nav-bar {
    display: flex; /* Делаем навигационное меню флекс-контейнером */
    align-items: center; /* Выравниваем ссылки по вертикали по центру */
    justify-content: space-between; /* Распределяем ссылки по горизонтали с равными отступами */
    padding: 20px; /* Отступы для навигационного меню */
    background-color: #121212; /* Цвет фона для навигационного меню */
  }
  
  /* Стили для ссылок в навигационном меню */
  .nav-bar a {
    color: white; /* Цвет шрифта для ссылок */
    text-decoration: none; /* Убираем подчеркивание для ссылок */
    font-weight: bold; /* Делаем шрифт жирным */
    margin: 0 10px; /* Отступы между ссылками */
  }
  
  /* Стили для активной ссылки в навигационном меню */
  .nav-bar a.active {
    color: #ff9800; /* Цвет шрифта для активной ссылки */
  }
  
  /* Стили для контейнера, который центрирует контент по ширине */
  .container {
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Автоматические отступы по бокам для центрирования */
    padding: 20px; /* Отступы для контейнера */
  }
  
  /* Стили для заголовка с отзывами */
  .container h1 {
    font-size: 3rem; /* Размер шрифта для заголовка */
    color: #121212; /* Цвет шрифта для заголовка */
    margin-bottom: 20px; /* Отступ снизу для заголовка */
  }
  
  /* Стили для блока с отзывом */
  .container div {
    display: flex; /* Делаем блок с отзывом флекс-контейнером */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    margin-bottom: 10px; /* Отступ снизу для блока с отзывом */
  }
  
  /* Стили для имени пользователя, оставившего отзыв */
  .container div a:first-child {
    font-weight: bold; /* Делаем шрифт жирным */
    margin-right: 10px; /* Отступ справа для имени пользователя */
  }
  
  /* Стили для оценки, которую поставил пользователь */
  .container div a:nth-child(2) {
    color: #ff9800; /* Цвет шрифта для оценки */
    margin-right: 10px; /* Отступ справа для оценки */
  }
  
  /* Стили для текста отзыва */
  .container div a:last-child {
    color: #757575; /* Цвет шрифта для текста отзыва */
  }
  
  /* Стили для формы, которая позволяет оставить отзыв */
  .container form {
    display: flex; /* Делаем форму флекс-контейнером */
    flex-direction: column; /* Меняем направление оси флекс-контейнера на вертикальное */
    margin-top: 20px; /* Отступ сверху для формы */
  }
  
  /* Стили для элементов формы */
  .container form div {
    margin-bottom: 10px; /* Отступ снизу для элементов формы */
  }
  
  /* Стили для кнопки, которая отправляет форму */
  .container form button {
    width: 200px; /* Ширина кнопки */
    align-self: center; /* Выравниваем кнопку по горизонтали по центру */
    background-color: #ff9800; /* Цвет фона для кнопки */
    color: white; /* Цвет шрифта для кнопки */
    border: none; /* Убираем рамку для кнопки */
    padding: 10px; /* Отступы для кнопки */
    cursor: pointer; /* Меняем курсор на указатель при наведении на кнопку */
  }
  .logo_img {
    
    max-width: 30%;
  }