<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link media="all" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>ЛК Гостя</title>
</head>
<body>
<div  th:if="${person.getName() != null}">
    <div class="nav-bar">
        <div class="nav_bar_container">
            <div class="logo">
                <img class="logo_img" src="../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt="logo">
            </div>
            <a href="/index">Motel</a>
            <a href="/index">О нас</a>
            <a href="/index">Контакты</a>
            <a href="/index">Статьи</a>
            <a href="/index">Отзывы</a>
            <a th:href="${perAccount}">Личный кабинет</a>
            <a class="button_login_blue" th:text = "'Привет '+${person.getName()}" >Person Name</a>
            <a class="button_login_black" href="/logout">Выход</a>
        </div>
    </div>
</div>
<div  th:if="${person.getName() == null}">
    <div class="nav-bar">
        <div class="nav_bar_container">
            <div class="logo">
                <img class="logo_img" src="../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt="logo">
            </div>
            <a href="/index">Motel</a>
            <a href="/index">О нас</a>
            <a href="/index">Контакты</a>
            <a href="/index">Статьи</a>
            <a href="/index">Отзывы</a>
            <a href="/guest">Личный кабинет</a>
            <a class="button_login_blue" href="/registration">Регистрация</a>
            <a class="button_login_black" href="/login">Логин</a>
        </div>
    </div>
</div>
<h1 class="other_titles">Actual Booking</h1>
<div th:if="${actualBookings.isEmpty()}">
    <p class="other_titles"> На данный момент у вас нет активных броней</p>
</div>
<div th:if="${!actualBookings.isEmpty()}">
    <div th:each="actualBooking : ${actualBookings}">
        <div class="box">
            <p th:text="'Дата приезда: ' + ${actualBooking.getCheckInDate()}
            + ' - Дата отьезда: ' + ${actualBooking.getCheckOutDate()}
            + ' Номер комнаты: ' + ${actualBooking.getRoomId()}
            + ' Тип комнаты: ' + ${actualBooking.getRoomType()}">
                Booking</p>
        </div>

    </div>
</div>

<div th:if="${!futureBookings.isEmpty()}">
    <h1 class="other_titles">Future Booking</h1>
    <div th:each="futureBooking : ${futureBookings}">
        <div class="box">
            <p th:text="'Дата приезда: ' + ${futureBooking.getCheckInDate()}
            + ' - Дата отьезда: ' + ${futureBooking.getCheckOutDate()}
            + ' Номер комнаты:: ' + ${futureBooking.getRoomId()}
            + ' Тип комнаты:: ' + ${futureBooking.getRoomType()}">
                Booking</p>
        </div>

    </div>

</div>
<div th:if="${!historyBookings.isEmpty()}">
    <h1 class="other_titles">History Booking</h1>

    <div th:each="historyBooking : ${historyBookings}">
        <div class="box">
            <p th:text="'Дата приезда: ' + ${historyBooking.getCheckInDate()} +
             ' - Дата отьезда: ' + ${historyBooking.getCheckOutDate()} +
             ' Номер комнаты: ' + ${historyBooking.getRoomId()} +
             ' Тип комнаты: ' + ${historyBooking.getRoomType()}">
                Booking</p>
        </div>

    </div>
</div>


<h1 class="other_titles">Создать бронь</h1>
<div>
    <form class="guest_forms" th:method="POST" th:action="@{/guest}" th:object="${bookingDTO}">
        <label for="checkInDate">Введите начальную дату:</label>
        <input class="form-control" type="date" th:field="*{checkInDate}" id="checkInDate"/>
        <div style="color:red" th:if="${#fields.hasErrors('checkInDate')}" th:errors="*{checkInDate}">checkInDate
            Error
        </div>
        <br/>
        <label for="checkOutDate">Введите окончательную дату:</label>
        <input class="form-control" type="date" th:field="*{checkOutDate}" id="checkOutDate"/>
        <div style="color:red" th:if="${#fields.hasErrors('checkOutDate')}" th:errors="*{checkOutDate}">checkOutDate
            Error
        </div>
        <br/>
        <label for="roomType">Выберите тип комнаты</label>
        <select class="form-option" th:field="*{roomType}" id="roomType">
            <option   th:each="typeOfRoom : ${typeOfRooms}" th:value="${typeOfRoom.getRoomType()}" th:text="${typeOfRoom.getRoomType()}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('roomType')}" th:errors="*{roomType}">roomType Error</div>
        <br/>

        <input class="form_button_guest" type="submit" value="Далее"/>
    </form>

</div>

<div th:if="${!actualBookings.isEmpty()}">

    <h1 class="other_titles">Дополнительная услуга</h1>
    <div>
        <h2 class="other_titles">Необработанные заявки</h2>
        <div th:each ="unprocessedAdditionalService : ${unprocessedAdditionalServices}">
            <div class="box">
                <p th:text = "${'Услуга'+unprocessedAdditionalService.getServiceName()+' Описание услуги '
            +unprocessedAdditionalService.getServiceDescription() + ' Комментарий '
            + unprocessedAdditionalService.getComment() +' Статус '
            + unprocessedAdditionalService.isStatus()}">Service info</p>
            </div>
            <br>
        </div>
    </div>

    <div>
        <h2 class="other_titles">Обработанные заявки</h2>
        <div th:each ="processedAdditionalService : ${processedAdditionalServices}">
            <div class="box">
                <p th:text = "${'Услуга'+processedAdditionalService.getServiceName()+' Описание услуги '
            +processedAdditionalService.getServiceDescription() + ' Комментарий '
            + processedAdditionalService.getComment() +' Статус '
            + processedAdditionalService.isStatus()}">Service info</p>
            </div>


            <form th:method="DELETE" th:action="@{/guest/deleteAddService/{id}(id=${processedAdditionalService.getAddServiceId()})}" >
                <input class="form_button_guest" type="submit" value="Отлично!" />
            </form>
            <br>
        </div>


    </div>

    <div>
        <form class="guest_forms" th:method="POST" th:action="@{/quest/saveAddService}" th:object="${additionalServiceDTO}">
            <label for="serviceName">Выберите услугу: </label>
            <select class="form-option" th:field="*{serviceName}" id="serviceName" onchange="updateServiceDetails()">
                <option value="">Выберите услугу</option>
                <th:block th:each="service : ${services}">
                    <option th:value="${service.getServiceName()}" th:text="${service.getServiceName()}"></option>
                </th:block>
            </select>

            <p>Описание сервиса: <span id="serviceDescription"></span></p>
            <p>Стоимость: <span id="serviceCost"></span></p>

            <div style="color:red" th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}">serviceName
                Error
            </div>
            <br/>
            <label for="comment">Введите комментарий:</label>
            <input class="form-control" type="text" th:field="*{comment}" id="comment"/>
            <div style="color:red" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">comment
                Error
            </div>
            <br/>

            <input class="form_button_guest" type="submit" value="Запросить услугу"/>
        </form>
    </div>

</div>
<div th:if="${actualBookings.isEmpty()}">
    <p class="other_titles">У вас нет активных броней, поэтому вы не можете запрашивать дополнительные услуги</p>
</div>
<script th:inline="javascript">
    function updateServiceDetails() {
        let selectedService = document.getElementById("serviceName").value;
        let services = /*[[${services}]]*/ [];
        services.forEach(function(service) {
            if (service.serviceName === selectedService) {
                document.getElementById("serviceDescription").textContent = service.serviceDescription;
                document.getElementById("serviceCost").textContent = service.cost;
            }
        });
    }
</script>
</body>
</html>