<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link media="all" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Guest</title>
</head>
<body>
<div  th:if="${person.getName() != null}">
    <div class="nav-bar">
        <div class="nav_bar_container">
            <div class="logo">
                <img class="logo_img" src="../../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt="logo">
            </div>
            <a href="/index">Motel</a>
            <a href="/index">О нас</a>
            <a href="/index">Контакты</a>
            <a href="/index">Статьи</a>
            <a href="/index">Отзывы</a>
            <a th:href="${perAccount}">Личный кабинет</a>
            <a class="button_login_blue" th:text = "'Привет '+${person.getName()}" >Person Name</a>
            <a class="button_login_black" href="/logout">Выход</a>
        </div>
    </div>
</div>
<div  th:if="${person.getName() == null}">
    <div class="nav-bar">
        <div class="nav_bar_container">
            <div class="logo">
                <img class="logo_img" src="../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt="logo">
            </div>
            <a href="/index">Motel</a>
            <a href="/index">О нас</a>
            <a href="/index">Контакты</a>
            <a href="/index">Статьи</a>
            <a href="/index">Отзывы</a>
            <a th:href="${perAccount}">Личный кабинет</a>
            <a class="button_login_blue" href="/registration">Регистрация</a>
            <a class="button_login_black" href="/login">Логин</a>
        </div>
    </div>
</div>
<h2 th:text="${person.getName()}">Name</h2>
<h2 th:text="${person.getSurname()}">Surname</h2>
<h1>Actual Booking</h1>
<div th:if="${actualBookings.isEmpty()}">
    <p> На данный момент у вас нет активных броней</p>
</div>
<div th:if="${!actualBookings.isEmpty()}">
    <div th:each="actualBooking : ${actualBookings}">
        <p th:text="'Check-in: ' + ${actualBooking.getCheckInDate()} + ' - Check-out: ' + ${actualBooking.getCheckOutDate()} + ' Room ID: ' + ${actualBooking.getRoomId()} + ' Room Type: ' + ${actualBooking.getRoomType()}">
            Booking</p>
    </div>
</div>

<div th:if="${!futureBookings.isEmpty()}">
    <h1>Future Booking</h1>
    <div th:each="futureBooking : ${futureBookings}">
        <p th:text="'Check-in: ' + ${futureBooking.getCheckInDate()} + ' - Check-out: ' + ${futureBooking.getCheckOutDate()} + ' Room ID: ' + ${futureBooking.getRoomId()} + ' Room Type: ' + ${futureBooking.getRoomType()}">
            Booking</p>
    </div>

</div>
<div th:if="${!historyBookings.isEmpty()}">
    <h1>History Booking</h1>
    <div th:each="historyBooking : ${historyBookings}">
        <p th:text="'Check-in: ' + ${historyBooking.getCheckInDate()} + ' - Check-out: ' + ${historyBooking.getCheckOutDate()} + ' Room ID: ' + ${historyBooking.getRoomId()} + ' Room Type: ' + ${historyBooking.getRoomType()}">
            Booking</p>
    </div>
</div>


<h1>Создать бронь</h1>
<div>
    <form th:method="POST" th:action="@{/guest}" th:object="${bookingDTO}">
        <label for="checkInDate">Введите начальную дату:</label>
        <input type="date" th:field="*{checkInDate}" id="checkInDate"/>
        <div style="color:red" th:if="${#fields.hasErrors('checkInDate')}" th:errors="*{checkInDate}">checkInDate
            Error
        </div>
        <br/>
        <label for="checkOutDate">Введите окончательную дату:</label>
        <input type="date" th:field="*{checkOutDate}" id="checkOutDate"/>
        <div style="color:red" th:if="${#fields.hasErrors('checkOutDate')}" th:errors="*{checkOutDate}">checkOutDate
            Error
        </div>
        <br/>
        <label for="roomType">Выберите тип комнаты</label>
        <select th:field="*{roomType}" id="roomType" th:each="typeOfRoom : ${typeOfRooms}">
            <option th:value="${typeOfRoom.getRoomType()}" th:text="${typeOfRoom.getRoomType()}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('roomType')}" th:errors="*{roomType}">roomType Error</div>
        <br/>

        <input type="submit" value="Далее"/>
    </form>

</div>

<div th:if="${!actualBookings.isEmpty()}">

    <h1>Дополнительная услуга</h1>
    <div>
        <h2>Необработанные заявки</h2>
        <div th:each ="unprocessedAdditionalService : ${unprocessedAdditionalServices}">
            <p th:text = "${unprocessedAdditionalService.getServiceName()}">Service name</p>
            <p th:text = "${unprocessedAdditionalService.getServiceDescription()}">Service des</p>
            <p th:text = "${unprocessedAdditionalService.getComment()}">Service comment</p>
            <p th:text = "${unprocessedAdditionalService.isStatus()}">Service status</p>

            <br>
        </div>
    </div>

    <div>
        <h2>Обработанные заявки</h2>
        <div th:each ="processedAdditionalService : ${processedAdditionalServices}">
            <p th:text = "${processedAdditionalService.getServiceName()}">Service name</p>
            <p th:text = "${processedAdditionalService.getServiceDescription()}">Service des</p>
            <p th:text = "${processedAdditionalService.getComment()}">Service comment</p>
            <p th:text = "${processedAdditionalService.isStatus()}">Service status</p>

            <form th:method="DELETE" th:action="@{/guest/deleteAddService/{id}(id=${processedAdditionalService.getAddServiceId()})}" >
                <input type="submit" value="Отлично!" />
            </form>
            <br>
        </div>


    </div>

    <div>
        <form th:method="POST" th:action="@{/quest/saveAddService}" th:object="${additionalServiceDTO}">
            <label for="serviceName">Выберите услугу</label>
            <select th:field="*{serviceName}" id="serviceName" onchange="updateServiceDetails()">
                <option value="">Выберите услугу</option>
                <th:block th:each="service : ${services}">
                    <option th:value="${service.getServiceName()}" th:text="${service.getServiceName()}"></option>
                </th:block>
            </select>

            <p>Описание сервиса: <span id="serviceDescription"></span></p>
            <p>Стоимость: <span id="serviceCost"></span></p>

            <div style="color:red" th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}">serviceName
                Error
            </div>
            <br/>
            <label for="comment">Введите комментарий:</label>
            <input type="text" th:field="*{comment}" id="comment"/>
            <div style="color:red" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">comment
                Error
            </div>
            <br/>

            <input type="submit" value="Запросить услугу"/>
        </form>
    </div>

</div>
<div th:if="${actualBookings.isEmpty()}">
    <p>У вас нет активных броней, поэтому вы не можете запрашивать дополнительные услуги</p>
</div>
<script th:inline="javascript">
    function updateServiceDetails() {
        let selectedService = document.getElementById("serviceName").value;
        let services = /*[[${services}]]*/ [];
        services.forEach(function(service) {
            if (service.serviceName === selectedService) {
                document.getElementById("serviceDescription").textContent = service.serviceDescription;
                document.getElementById("serviceCost").textContent = service.cost;
            }
        });
    }
</script>
</body>
</html>