<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link media="all" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <title>Удача!</title>

</head>
<body>
<div class="error-container">
    <div class="error-info">
        <p class="error-message">Новый аккаунт владельца создан успешно!</p>
        <p class="redirect-link">Данные были присланы на почту</p>
    </div>

</div>
</body>
</html>
