<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link media="all" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>ЛК Владельца</title>
</head>
<style>
    #editForm {
        display: none;
    }
</style>
<body>
<div>
    <div  th:if="${person.getName() != null}">
        <div class="nav-bar">
            <div class="nav_bar_container">
                <div class="logo">
                    <img class="logo_img" src="../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt="logo">
                </div>
                <a href="/index">Motel</a>
                <a href="/index">О нас</a>
                <a href="/index">Контакты</a>
                <a href="/index">Статьи</a>
                <a href="/index">Отзывы</a>
                <a th:href="${perAccount}">Личный кабинет</a>
                <a class="button_login_blue" th:text = "'Привет '+${person.getName()}" >Person Name</a>
                <a class="button_login_black" href="/logout">Выход</a>
            </div>
        </div>
    </div>
    <div  th:if="${person.getName() == null}">
        <div class="nav-bar">
            <div class="nav_bar_container">
                <div class="logo">
                    <img class="logo_img" src="../static/img/logo/logo.png" th:src="@{/img/logo/logo.png}" alt="logo">
                </div>
                <a href="/index">Motel</a>
                <a href="/index">О нас</a>
                <a href="/index">Контакты</a>
                <a href="/index">Статьи</a>
                <a href="/index">Отзывы</a>
                <a th:href="${perAccount}">Личный кабинет</a>
                <a class="button_login_blue" href="/registration">Регистрация</a>
                <a class="button_login_black" href="/login">Логин</a>
            </div>
        </div>
    </div>
    <h1>Работники</h1>
    <div th:each="worker : ${workers}">
        <div class="box">
            <p th:text="'Имя: ' + ${worker.getName()} + ' Фамилия: ' + ${worker.getSurname()} + ' Зарплата: ' + ${worker.getSalary()}">worker</p>

        </div>
        <button class="form_button" onclick="toggleForm('editForm')">Изменить</button>
        <form  id="editForm"  style="display: none;" th:action="@{/owner/workers/changeWorker/{id}(id=${worker.getId()})}" th:object="${personDTO}" th:method = "PATCH">

                <label for="updateLogin" class="form-label">Enter login:</label>
                <input type="text" th:field="*{login}" id="updateLogin" class="form-control"/>
                <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>


                <label for="updateName" class="form-label">Enter your name:</label>
                <input type="text" th:field="*{name}" id="updateName" class="form-control"/>
                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name of birth Error</div>


                <label for="updateSurname" class="form-label">Enter your surname:</label>
                <input type="text" th:field="*{surname}" id="updateSurname" class="form-control"/>
                <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname of birth Error</div>


                <label for="updateDateOfBirth" class="form-label">Enter your date of birth:</label>
                <input type="date" th:field="*{dateOfBirth}" id="updateDateOfBirth" class="form-control"/>
                <div style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date of birth Error</div>


                <label for="updatePassword" class="form-label">Enter password:</label>
                <input type="password" th:field="*{password}" id="updatePassword" class="form-control"/>
                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>


                <label for="updateRole" class="form-label">Select role:</label>
                <select  th:field="*{role}" id="updateRole" class="form-option">
                    <option value="Администратор">Администратор</option>
                    <option value="Персонал">Персонал</option>
                </select>
                <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</div>

                <label for="updateSalary" class="form-label">Enter salary:</label>
                <input type="number" th:field="*{salary}" id="updateSalary" class="form-control"/>
                <div style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary Error</div>


            <button type="submit" class="form_button">Обновить</button>
        </form>
        <!-- Форма удаления работника -->
        <form th:action="@{/owner/workers/deleteWorker/{id}(id=${worker.getId()})}" method="post">
            <button class="form_button" type="submit">Удалить</button>
        </form>
    </div>
</div>
<div>
    <h1>Создать нового работника</h1>
    <form th:method="POST" th:action="@{/owner/workers/regNewWorker}" th:object="${personDTO}" class="mt-5">
        <div class="mb-3">
            <label for="login" class="form-label">Enter login:</label>
            <input type="text" th:field="*{login}" id="login" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Enter your name:</label>
            <input type="text" th:field="*{name}" id="name" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name of birth Error</div>
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Enter your surname:</label>
            <input type="text" th:field="*{surname}" id="surname" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname of birth Error</div>
        </div>
        <div class="mb-3">
            <label for="dateOfBirth" class="form-label">Enter your date of birth:</label>
            <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date of birth Error</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Enter password:</label>
            <input type="password" th:field="*{password}" id="password" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Select role:</label>
            <select th:field="*{role}" id="role" class="form-option">
                <option value="Администратор">Администратор</option>
                <option value="Персонал">Персонал</option>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</div>
        </div>
        <div class="mb-3">
            <label for="salary" class="form-label">Enter salary:</label>
            <input type="number" th:field="*{salary}" id="salary" class="form-control"/>
            <div style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary Error</div>
        </div>

        <button type="submit" class="form_button">Создать</button>
    </form>
</div>
<div>
    <h1>Составление отчета</h1>
    <a href="/graphic">Составить отчет</a>
</div>
<script>
    function toggleForm(id) {
        var form = document.getElementById(id);
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>
</body>
</html>