<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link media="all" rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <meta charset="UTF-8">
    <title>Stuff</title>
</head>
<body>
<h1 th:text = "${person.getName()}"></h1>
<h1 th:text = "${person.getSurname()}"></h1>

<h1>Запросы на дополнительные услуги</h1>
<div th:if="${additionalServicesWhereStatusFalse.isEmpty()}">
    <p>На данный момент нет заказов. Можете отдыхать :)</p>
</div>
<div th:if="${!additionalServicesWhereStatusFalse.isEmpty()}">
    <div th:each = "additionalServiceWhereStatusFalse : ${additionalServicesWhereStatusFalse}">

        <p th:text="${additionalServiceWhereStatusFalse.getServiceName()}"></p>
        <p th:text="${additionalServiceWhereStatusFalse.getServiceDescription()}"></p>
        <p th:text="${additionalServiceWhereStatusFalse.getComment()}"></p>
        <p th:text="${additionalServiceWhereStatusFalse.getRoomId()}"></p>
        <form th:method="PATCH" th:action="@{/stuff/executeService/{id}(id=${additionalServiceWhereStatusFalse.getAddServiceId()})}" class="d-inline">
            <input type="submit" value="Провести услугу" class="btn btn-danger mt-2"/>
        </form>
    </div>
</div>



</body>
</html>